[submodule "vendor/Reticulum"]
	path = vendor/Reticulum
	url = https://github.com/markqvist/Reticulum.git
[submodule "vendor/RNode_Firmware"]
	path = vendor/RNode_Firmware
	url = https://github.com/markqvist/RNode_Firmware.git
[submodule "vendor/Heltec_nRF52"]
	path = vendor/Heltec_nRF52
	url = https://github.com/HelTecAutomation/Heltec_nRF52.git
