# Stable symlinks for leviculum T114 USB CDC-ACM ports
# Install: sudo cp udev/99-leviculum.rules /etc/udev/rules.d/ && sudo udevadm control --reload-rules
#
# Each CDC-ACM class occupies two USB interfaces (Communication + Data):
#   Debug:     interfaces 00 (comm) + 01 (data)
#   Transport: interfaces 02 (comm) + 03 (data)
#
# With multiple boards: /dev/leviculum-debug-SERIALNUM, /dev/leviculum-transport-SERIALNUM
# The first board also gets the short symlinks (leviculum-debug, leviculum-transport).

SUBSYSTEM=="tty", ATTRS{idVendor}=="1209", ATTRS{idProduct}=="0001", ENV{ID_USB_INTERFACE_NUM}=="00", SYMLINK+="leviculum-debug", SYMLINK+="leviculum-debug-%s{serial}"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1209", ATTRS{idProduct}=="0001", ENV{ID_USB_INTERFACE_NUM}=="02", SYMLINK+="leviculum-transport", SYMLINK+="leviculum-transport-%s{serial}"
